@import "/node_modules/modern-normalize/modern-normalize.css";

@font-face {
  font-family: "Neue Machina";
  src: url("./fonts//NeueMachina-Black.woff2") format("woff2"),
    url("./fonts//NeueMachina-Black.woff") format("woff");
}

html {
  background-color: #1d1d1d;
}

body {
  font-family: "Neue Machina";
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

blockquote,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
li,
ol,
p,
ul {
  font-size: 14px;
  margin: 0;
}

input {
  font: inherit;
}

button {
  font: inherit;
}

a {
  text-decoration: none;
}
